Repository yurrriq/ComiCal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ormolu, hlint, nixpkgs-fmt

ormolu:
  description: Prettify Haskell code with ormolu
  entry: ormolu --mode inplace
  language: system
  name: Prettify Haskell code

hlint:
  entry: hlint
  language: system
  name: Lint Haskell code

nixpkgs-fmt:
  description: Format nix code with nixpkgs-fmt.
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system

build: nix flake update
  VERSION
  emacs.el
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: add dependabot workflow
  .github/dependabot.yml
Due: none

build(deps): nix flake update
  VERSION
  emacs.el
  flake.lock
  flake.nix
  src/emacs.nw
  src/flake.nw
Due: nixpkgs-fmt

fix: update copyright, pull list, and Image parsing
  LICENSE
  VERSION
  app/Main.hs
  lib/ComiCal.hs
  lib/ComiCal/App.hs
  lib/ComiCal/DC.hs
  lib/ComiCal/Image.hs
  lib/ComiCal/Marvel.hs
  lib/ComiCal/Types.hs
  lib/ComiCal/Util.hs
  pull.json
  src/haskell.nw
Due: ormolu, hlint

chore: drop Venom until I can fix Marvel parsing again
  VERSION
  pull.json
Due: none

Path conditions:
  ormolu: any of: .+\.hs$
  hlint: any of: .+\.hs$
  nixpkgs-fmt: any of: \.nix$
