Repository yurrriq/ComiCal: changes, and which pre-commit hooks are due for each by the changed paths.
All: ormolu, hlint, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
- hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
  repo: meta
- hooks:
  - id: trailing-whitespace
  - exclude: ^VERSION$
    id: end-of-file-fixer
  - files: ^.pre-commit-config.yaml$
    id: check-yaml
    name: Check pre-commit config
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
- hooks:
  - args: ["--format=tty", "--shell=bash"]
    files: ^.envrc$
    id: shell-lint
    name: Lint .envrc
    types: [text]
  repo: https://github.com/detailyang/pre-commit-shell
  rev: v1.0.6
- hooks:
  - description: Prettify Haskell code with ormolu
    entry: "ormolu --mode inplace"
    files: '.+\.hs$'
    id: ormolu
    language: system
    name: Prettify Haskell code
  - entry: hlint
    files: '.+\.hs$'
    id: hlint
    language: system
    name: Lint Haskell code
  - description: Format nix code with nixpkgs-fmt.
    id: nixpkgs-fmt
    name: nixpkgs-fmt
    entry: nixpkgs-fmt
    language: system
    files: \.nix$
  repo: local

Adopt use flake
  .envrc
  VERSION
Due: none

emacs.el: remove spurious blank line
  VERSION
  emacs.el
Due: none

nix flake update
  VERSION
  flake.lock
  flake.nix
Due: nixpkgs-fmt

Adopt flake-utils.lib.eachDefaultSystem
  VERSION
  flake.nix
Due: nixpkgs-fmt

Update pull list
  VERSION
  pull.json
Due: none

Document more of the things
  Makefile
  VERSION
  flake.nix
  src/all.tex
  src/emacs.nw
  src/flake.nw
  src/haskell.nw
Due: nixpkgs-fmt

Revert to only support x86_64-linux
  VERSION
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

Adopt pywatchman
  Makefile
  VERSION
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

Adopt semver-tool
  Makefile
  VERSION
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

nix flake update
  VERSION
  flake.lock
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

Fix pre-commit override
  .pre-commit-config.yaml
  flake.nix
  src/flake.nw
Due: nixpkgs-fmt

Clean up .gitignore
  .direnv/.gitignore
  .gitignore
Due: none

Ensure Noweb sources are in sync
  .pre-commit-config.yaml
  VERSION
Due: none

Adopt rnix-lsp
  VERSION
  emacs.el
  flake.nix
  src/emacs.nw
  src/flake.nw
Due: nixpkgs-fmt

Check in progress, mostly prose
  .ghci
  CHANGELOG.md
  LICENSE
  VERSION
  emacs.el
  flake.nix
  src/all.tex
  src/emacs.nw
  src/flake.nw
  src/haskell.nw
Due: nixpkgs-fmt

Try to fix the build
  .github/workflows/build.yml
  VERSION
Due: none

Update flake schema
  VERSION
  flake.nix
Due: nixpkgs-fmt

Update pull list
  pull.json
Due: none

Don't urlEncode Marvel slugs (for now)
  VERSION
  lib/ComiCal/Marvel.hs
Due: ormolu, hlint

Update pull list
  TODO.json
  VERSION
  pull.json
Due: none

flake.nix: overlay -> overlays.default
  VERSION
  flake.nix
Due: nixpkgs-fmt

build: skip cachix-action for now
  .github/workflows/build.yml
Due: none

build: nix flake update
  flake.lock
  flake.nix
Due: nixpkgs-fmt

fix: update pull list
  VERSION
  pull.json
Due: none

build: adopt flake-parts and update nixpkgs
  .envrc
  .ghci
  .github/workflows/build.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  VERSION
  app/Main.hs
  emacs.el
  flake.lock
  flake.nix
  lib/ComiCal/DC.hs
  lib/ComiCal/Image.hs
  lib/ComiCal/Marvel.hs
  src/emacs.nw
  src/flake.nw
  src/haskell.nw
Due: ormolu, hlint, nixpkgs-fmt

docs: add ComiCal to haskell.nw
  Makefile
  VERSION
  src/haskell.nw
Due: none

docs: update copyright years
  VERSION
  app/Main.hs
  lib/ComiCal.hs
  lib/ComiCal/App.hs
  src/haskell.nw
Due: ormolu, hlint

refactor: adopt (<>~)
  VERSION
  lib/ComiCal/Types.hs
  src/haskell.nw
Due: ormolu, hlint

docs: adopt {app,lib}/**.hs into src/haskell.nw
  Makefile
  VERSION
  flake.nix
  lib/ComiCal/DC.hs
  lib/ComiCal/Image.hs
  lib/ComiCal/Marvel.hs
  lib/ComiCal/Types.hs
  lib/ComiCal/Util.hs
  src/flake.nw
  src/haskell.nw
Due: ormolu, hlint, nixpkgs-fmt

docs: use indentxref and margintag
  VERSION
  src/all.tex
Due: none

docs: tweak config and fix verbatim indentation
  flake.nix
  src/all.tex
  src/flake.nw
Due: nixpkgs-fmt

fix: better adhere to RFC 5545
  lib/ComiCal/DC.hs
  lib/ComiCal/Image.hs
  lib/ComiCal/Marvel.hs
  lib/ComiCal/Types.hs
  src/haskell.nw
Due: ormolu, hlint

docs: flesh out more
  Makefile
  VERSION
  lib/ComiCal/Util.hs
  src/all.tex
  src/haskell.nw
Due: ormolu, hlint

build(noweb): 2.12 -> 2.13
  flake.lock
  flake.nix
  src/all.tex
  src/flake.nw
Due: nixpkgs-fmt

fix(emacs): noweb load-path
  emacs.el
  src/emacs.nw
Due: none

fix(fonts): use Iosevka from Nerd Fonts
  flake.nix
  src/all.tex
  src/flake.nw
Due: nixpkgs-fmt

chore: bump version
  VERSION
Due: none

style: appease ormolu
  lib/ComiCal/Util.hs
  src/haskell.nw
Due: ormolu, hlint
